.des {
  width: 80%;
  justify-content: center;
  text-align: right;
  margin: 10%;
}
.bt {
  border-radius: 4px;
  background-color: var(--color-primary);
  color: #fff;
  text-align: center;
  font-size: 1rem;
  padding: 2%;
  width: 50%;
  height: 10%;
margin-bottom: 5%;
}

.left{
    margin-right: 10%;
}