.question__wrapper{
    text-align: center;
    padding: 2rem;
}
.button{
    width: 30%;
    padding: 1%;
    background-color: transparent;
    border: 1px solid var(--color-bg);
}
.button:hover{
    background-color: var(--color-bg);
    cursor: pointer;
}