#body3 {
  background-image: url("../../assets/bbg.png");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#body3 .home__icon {
  color: white;
  font-size: 2rem;
  padding: 2rem;
}
#body3 .home__icon:hover {
  color: var(--color-primary);
}
#body3 .wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
}
#body3 .wrapper .card {
  width: 70%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#body3 .wrapper .card h1 {
  text-align: center;
  color: black;
  
}
#body3 .wrapper form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0 2rem 0 2rem;
}
#body3 .wrapper form .form__element {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
#body3 .wrapper form .form__element input {
    width: 80%;
    height: 3rem;
  }
  #body3 .wrapper form .form__element
  textarea {
    width: 80%;
    border: 1px solid black;

    height: 6rem;
  }
#body3 .wrapper form .form__element h4 {
  width: 100%;
  text-align: right;
  color: black;
}
#body3 .wrapper form button {
  width: 50%;
  padding: 0.5rem;
  background-color: transparent;
  border: 1px solid black;
  
}
#body3 .wrapper form button:hover {
  background-color: black;
  cursor: pointer;
}
#body3 .wrapper form button h4 {
  color: black;
  text-align: center;
  font-size: 0.8rem;
  font-family: "Cairo", sans-serif;
}
#body3 .wrapper form button:hover h4 {
  color: white;
  background-color: black;
}
@media screen and (max-width: 1024px) {
  #body3 .home__icon {
    color: black;
  }

 
  #body3 .wrapper form .form__element
  textarea {
  border: 1px solid black;
  }

}
/*===========media queries (small devices : phones)=======*/
@media screen and (max-width: 600px) {
  #body3 .home__icon {
    color: var(--color-bg);
  }
  #body3 .wrapper .card {
    width: 100%;
    background-color: transparent;
    border-radius: 20%;
  }
}
