.header{
    background-color: var(--color-bg);
    border-radius: 0 0 50% 200%;
    height: 100%;
    margin: 0;
    padding: 0;
   
}
.header__content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    direction: rtl;
    justify-content: space-around;
}

.header__content p span{
    text-align: center;
    color: #fff;
    font-size: 200%;
    font-weight: bold;

}
.header__content p{
    text-align: right;
    padding: 10%;
    color: #fff;
    width: 60%;

}
.header__content img{
    width: 25%;
    margin-top: 10%;
    margin-left: 2%;


}
@media screen and (max-width: 1024px) {
   
    .header__content{
        display: block;
        }
    .header__content p{
        padding-right: 20%;
        width: 100%;
        text-align: center;

    }
    .header__content img{
        margin-right: 30%;

    }
    
}
@media screen and (max-width: 600px) {
    .header{
        border-radius: 0 0 45% 75%;
    }
    .header__content{
        display: block;
    }
    .header__content p span{
        padding-right: 20%;
    }
    .header__content p{
        padding-right: 5%;
        width: 100%;
        text-align: center;
    
    }
    .header__content img{
        width: 30%;
    
    }
}
