.carrds{  
    margin: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    direction: rtl;
}
.carrd{
    margin: 3%;
    padding: 3%;
    box-shadow: 0 0 10px 8px var(--color-bg);

}
.iicc{margin-right: 2%;}
.iicc:hover{cursor: pointer;}
img{width: 90%;}